@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --bs-body-font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-bg: #F1F2EE;
  padding: 20px;
}


button {
  font-family: "Ubuntu", sans-serif;
  outline: none;
  font-size: 1rem;
}



td {
font-size: 0.90rem !important;
}

.bucket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
}


.myform {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.myform form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.myform form label {
  font-weight: bold;
}

.myform form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.createList {
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.createList form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.createList form label {
  font-weight: bold;
}

.createList form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.inputItem {
  max-width: 180px;
  margin-right: 5px;
}

.inputCountry {
  max-width: 130px;
}


[type="submit"] {
  background: #FA824C;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
  width: 100%;
}

.buttoncreatebutton {
  background: #FA824C;
  color: white;
  border: 0px solid rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
  width: 100%;
}

.divcreatebutton {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.divremoveimg {
  max-width: 350px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}


[type="submit"]:disabled:hover {
  box-shadow: none;
}


.success-msg,
.err-msg {
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 10px;
  border-radius: 3px;
}

.success-msg {
  color: #ffffff;
  background-color: #20c997;
  border-color: rgba(0, 0, 0, 0.1);
}

.bottom-link {
  text-align: center;
  padding-top: 10px;
}

.info {
  padding-top: 50px;
}

.home {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.bucketlist {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 0px 0 20px 0;
}

.card {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 25px !important;
    border: 0px;
    padding: 15px 10px 10px 15px;
    width: 250px;
    height: 130px;  
}

.cardtext {
  color: #FA824C;
}

td {
  height: 20px;
}


.list {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0px 0;
}

.header {
  text-align: center;
}

.header .img {
  font-size: 100px;
}